<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% for(let i = 0; i < category.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= category[i].name %></td>
      <td>
        <form action="">
          <a href="" class="btn btn-warning">
            <i class="fas fa-pencil-alt"></i>
            Edit</a
          >
          <a href="" class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Delete</a
          >
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
